@model SchoolDistrictMVC.Models.Enrollment.EnrollmentDetail
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "RemoveFromClass";
}

<h3>Are you sure you want to remove this student?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-link" onclick="history.back()">Back to Roster</button> |
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
