@model SchoolDistrictMVC.Models.ClassRosterRedo

@{ ViewBag.Title = "ViewClassRoster"; }

<h2>@ViewBag.Class</h2>
<br />
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Teacher)
        </td>
    </tr>


</table>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model.Students)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.ActionLink("Remove From Class", "RemoveFromClass", new { id = item.Id })
    </td>

</tr>
}

</table>

<div>
    @Html.ActionLink("Back to Class List", "Index")
</div>
