@model IEnumerable<SchoolDistrictMVC.Models.Teacher.TeacherClasses>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ViewClasses";
}

<h2>Classes Taught</h2>
<br />

<div class="tableBox">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School)
                </td>
            </tr>
        }

    </table>
</div>

<div>
    @Html.ActionLink("Back to Class List", "Index")
</div>